<!DOCTYPE html>
<html lang="en">
<%- include ./partials/_header.ejs %>
<body>
    <!-- Add your EJS code here -->
<!--   <%- JSON.stringify(urls) %> -->
  <% for (var key in urls) { %>
    <form method="POST" action="/urls/<%= key %>/delete">
    <ul><%= key %></ul>
    <ul><a href=<%= urls[key] %>><%= urls[key] %></a></ul>
    <input type="submit" value="Delete">
    </form>
    <form action="/urls/<%= key %>/">
    <input type="submit" value="Edit" />
    </form>
  <% } %>

</body>
</html>